<div class="nav-left">
  {% for collection in site.collections %}
    {% if collection[1].label == 'playground' %}
      {% continue %}
    {% endif %}
    <div class="guides-left-collection">
      <h3><a href="/{{ collection[1].label }}">{{ collection[1].collection }}</a></h3>
      <ol>
        {% for item in collection[1].docs %}
        {% if item.hide != true %}
        {% assign pageID = @context.registers[:page]["id"] %}
        {% assign itemID = item["name"]%}
        {% assign className = pageID == itemID ? ' class="active"' : '' %}
          <li>
            <a href="/{{item["collection"]}}/{{itemID}}"{{className}}>{{item["title"]}}</a>
          </li>
        {% endif %}
        {% endfor %}
      </ol>
    </div>
  {% endfor %}
</div>
