<div class="nav-left">

  <h3><a href="/project-readme">Project readme</a></h3>

  {% for collection in site.collections %}
  {% if collection[1].hide != true %}
    <div class="guides-left-collection">
      <h3><a href="/{{ collection[1].label }}">{{ collection[1].collection }}</a></h3>
      <ol>
        {% for item in collection[1].docs %}
        {% if item.hide != true %}
        {% assign pageID = page.name %}
        {% assign itemID = item.name %}
        {% assign className = pageID == itemID ? ' class="active"' : '' %}
          <li>
            <a href="/{{item["collection"]}}/{{itemID}}"{{className}}>{{item["title"]}}</a>
          </li>
        {% endif %}
        {% endfor %}
      </ol>
    </div>
  {% endif %}
  {% endfor %}

  <h3><a href="/changelog">Changelog</a></h3>

  <h3><a href="/media">Logo and Profile</a></h3>

  <p>Download Omniscient.js through <a href="https://www.npmjs.com/package/omniscient">NPM</a> or <a href="https://cdnjs.com/libraries/omniscient">CDN</a></p>
</div>
