<h2>Available globals/variables</h2>
<p>Use <code>el</code> to get to an element you can render to with your Omniscient components!</p>

<ul>
  <li><code>React</code>: React instance</li>
  <li><code>omniscient</code>/<code>component</code>: Omniscient instance</li>
  <li><code>immstruct</code>: Immstruct instance</li>
  <li><code>Immutable</code>: Immutable.js instance</li>
  <li><code>Cursor</code>: Cursor (Immutable.js contrib)</li>
</ul>

<h3>Testing</h3>
<ul>
  <li><code>describe</code>: new test suite (mocha)</li>
  <li><code>it</code>: new test (mocha)</li>
  <li><code>xit</code>: pending test (mocha)</li>
  <li><code>xdescribe</code>: pending scenario (mocha)</li>
  <li><code>before/after</code>: run code before or after all tests (mocha)</li>
  <li><code>beforeEach/afterEach</code>: run code before or after each tests (mocha)</li>
  <li><code>chai</code>: chai.js assertion library</li>
</ul>
