@import "./globals/colors";
@import "./globals/mixins";
@import "./globals/size";

.mainHeader {
  z-index: 3; // .CodeMirror pre is 2
  min-height: 100%;
  min-width: $min-width;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  // background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
  // background: linear-gradient(to bottom, #61dafb 0%,#59c9e5 100%);
  background: linear-gradient(to bottom, $color-header-background 0%, $color-header-background--bottom 100%);
}
.mainHeader.mainHeader--small {
  height: auto;
  position: fixed;
  min-height: initial;
  top: 0;
  width: 100%;
  background: $color-header-background;
}
.mainHeader-illustration {
  @include width-constraint;

  flex-wrap: wrap;

  flex: 1 0 50%;
  display: flex;
  align-items: center;

  svg {
    min-width: 400px;
    margin: auto;
    flex: 3 0 30%;
  }
}
.mainHeader-illustration .illustrationText {
  flex: 1 1 30%;
  min-width: $min-width;

  .github-badges {
    margin-top: 15px;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: $remove-graphics-width) {
  .mainHeader-illustration svg {
    display: none;
  }
}


.infoBoxes {
  @include width-constraint;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: stretch;
  justify-content: space-between;

  article {
    h2 {
      font-size: 1.5rem;
    }
    background: rgba(0,0,0, 0.3);
    color: $color-infoBoxes;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);

    display: inline-block;
    padding: 25px;
    width: 33%;
  }
}

@media (max-width: $first-breakpoint-width) {
  .infoBoxes article {
    width: 100%;
    margin-bottom: 2px;
  }
}

.mainNavigation-inner {
  @include width-constraint;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;

  a {
    display: block;
    margin-right: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-top: 5px;

    li a {
      color: $color-header-linkColor;
      transition: all 300ms;

      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      font-size: 1.2rem;

      &:hover {
        color: darken($color-header-linkColor, 20%);
        text-shadow: 1px 1px 0px rgba(0,0,0,.2);
      }
    }
  }
}


@media (max-width: $remove-graphics-width) {
  .mainNavigation-inner ul {
    li:nth-last-child(1),
    li:nth-last-child(2) {
      display: none;
    }
  }
}


.mainNavigation-inner h1 a {
  display: block;
  svg {
    display: block;

    path {
      transition: all 300ms;
      fill: $color-header-linkColor;
      text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    }
  }

  &:hover svg path {
    fill: darken($color-header-linkColor, 20%);
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
  }
}


.chevronDown {
  height: 25px;
  display: block;
  text-align: center;
    transition: all 400ms;

  i {
    transition: all 400ms;
    @include chevron($color-blue-light, 5px, 50px);
    top: 10px;
    opacity: 0.5;
  }

  &:hover i {
    opacity: 1;
  }
}
