@charset "utf-8";

@import "globals/reset";
@import "globals/colors";
@import "globals/size";

@import url(http://fonts.googleapis.com/css?family=Khula:400,700,600,300);

body {
  font-family: 'Khula', sans-serif;
  min-width: $min-width;

  background: $color-darkGray-background;
  color: $color-white-fontColor;
}

* {
  box-sizing: border-box;
}

.link--github {
  background: url('/assets/github.png') center center no-repeat;
  text-indent: -9999px;
  background-size: contain;

  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
}

@media (max-width: $first-breakpoint-width) {
  .link--github {
    display: none;
  }
}

.anchor-link {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

a:link, a:visited {
  color: $color-links;
  text-decoration: none;
}

a:hover {
  color: $color-links--hover;
}

a:active {
  color: $color-links--active;
}


ul, ol {
  list-style-position: inside;
  padding-left: 20px;
}

@import "header";
@import "graph";
@import "window";
@import "content";
@import "columns";
@import "next-nav";
@import "forms";

// Fonts
@import "font/animation";
@import "font/fontello";

