$column-sidebar-width: 31%;
$column-sidebar-margin: 2rem;

$first-breakpoint-width: 650px;
$remove-graphics-width: 870px;
$minify-header-width: 700px;
$cap-logo-header-width: 420px;
$min-width: 350px;


$header-height: 63px;
