---
layout: default
---

<h1>
  {{ page.title }}
  <a class="edit-page-link" href="https://github.com/omniscientjs/omniscientjs.github.io/blob/master/{{ page.relative_path }}" target="_blank">Edit on GitHub</a>
</h1>

{% if page.hide != true %}
  <p><strong>Originally posted <time>{{ page.date }}</time></strong></p>
{% endif %}

<div class="subHeader">{{ page.description }}</div>

<div class="fromMarkdown">
  {{ content }}
</div>

<div class="docs-prevnext">
  {% if page.prev %}
    <a class="docs-prev" href="/{{ page.collection }}/{{ page.prev }}">&larr; Prev</a>
  {% endif %}
  {% if page.next %}
    <a class="docs-next" href="/{{ page.collection }}/{{ page.next }}">Next &rarr;</a>
  {% endif %}
</div>
