<html>
  {% include head.html %}
  <body class="withSmallHeader">
    <header class="mainHeader mainHeader--small">
      {% include nav.html %}
    </header>

    <a class="anchor-link" id="content"></a>
    <main class="mainContent playground" >
      <h1>Omniscient Playground</h1>

      {% assign codeContent = content | strip_newlines %}
      <div class="editor" data-is-large=true><textarea>{% if (codeContent == "") %}{% include _playground-default.html %}{% else %}{{ content }}{% endif %}</textarea></div>

      <h3>Help</h3>
      <p>Use <code>el</code> to get to a dom element you can render to with your Omniscient components!</p>

      <h3>Playground examples</h3>
      <ol>
      {% for item in site.playground %}
      {% if item.hide != true %}
        {% assign pageID = @context.registers[:page]["id"] %}
        {% assign itemID = item["name"]%}
        {% assign className = pageID == itemID ? ' class="active"' : '' %}
          <li>
            <a href="/{{item["collection"]}}/{{itemID}}"{{className}}>{{item["title"]}}</a>
          </li>
      {% endif %}
      {% endfor %}
      </ol>

      <h3>Other available globals</h3>
      <ul>
        <li><code>React</code>: React instance</li>
        <li><code>omniscient</code>/<code>component</code>: Omniscient instance</li>
        <li><code>immstruct</code>: Immstruct instance</li>
        <li><code>Immutable</code>: Immutable.js instance</li>
        <li><code>el</code>: A dom element you can render to</li>
        <li><code>describe</code>/<code>it</code>: Methods for writing tests (<a href="http://mochajs.org"/>mocha.js</a>)</li>
        <li><code>should</code>: All objects have a .should method for test assertions (<a href="http://chaijs.com/">chai.js</a>)</li>
      </ul>
    </main>

    {% include footer.html %}
  </body>
</html>
