<html>
  {% include head.html %}
  <body class="withSmallHeader">
    <header class="mainHeader mainHeader--small">
      {% include nav.html %}
    </header>

    <main class="mainContent" id="content">

<div class='window'>
  <div class='control'><ul><li></li><li></li><li></li></ul></div>
  <div id='result' class='inner inner--result'></div>
  <div class='inner inner--code'>
    <textarea class='editor' data-hash=true>{% if (!content) %}{% include _playground-default.html %}{% else %}{{ content }}{% endif %}</textarea>
  </div>
</div>

<span><b>Hint</b>: Use <code>document.getElementById('result')</code> to get to an element you can render to with your Omniscient components!</span>

    </main>

    <a href="https://github.com/omniscientjs/" class="link--github">Fork on Github</a>

    <link rel="stylesheet" href="../../scripts/vendor/codemirror.css"/>
    <link rel="stylesheet" href="../../scripts/vendor/codemirror-kimbie-dark.css"/>
    <link rel="stylesheet" href="../../css/codemirror-playground.css"/>
    <script src="../../scripts/vendor/script.min.js"></script>
    <script src="../../scripts/runnable-scripts.js"></script>
  </body>
</html>
